@charset "UTF-8";
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #666;
	margin: 0;
	padding: 0;
}
h1 {
	top: -500px;
	position: absolute;
}
h2 {
	color: #003391;
}
h3 {
	color: #003391;
}
th {
	font-style: italic;
	text-transform: capitalize;
	color: #003391;
}
th, td {
	padding-left: 10px;
	padding-right: 10px;
}
#container {
	width: 770px;
	background: #FFF;
	margin: 10px auto;
	overflow: hidden;
	border: 1px solid #000;
	background-image:url(../images/wrapper_bg_l.gif);
	background-repeat:repeat-y;
}
#container_full {
	width: 770px;
	background: #FFF;
	margin: 10px auto;
	overflow: hidden;
	border: 1px solid #000;
}
#banner {
	position: relative;
}
#main_panel {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 10px;
	width: 470px;
	float: right;
	margin-right: 30px;
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#left_panel {
	padding: 10px;
	float: left;
	width: 175px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
}
#main_panel_full {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 10px;
	margin-right: 30px;
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#purchase_image {
	padding-top: 20px;
	padding-bottom: 20px;
}
#liwc_menu {
	position: absolute;
	/* [disabled]top: 60px; */
	right: 0px;
	bottom: 0px;
}
.dictionaries {
}
p {
	margin-top: 1em;
}
#footer {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	background-color: #003391;
	padding: 10px;
	font-style: italic;
	clear: both;
}
#contactus {
/*	font-size: 80%; */
	background-color: #FFFFCC;
	border-right: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
}

.hiddendiv { display: none; }
.unhiddendiv { display: block;
	font-size: 80%;
/*	margin: 20px; */
 }
 .textInput {
	width:300px;
}
.formButton {
	width:75px;
}

#message { 
	margin-top:10px;
}

#checkmark { 
	margin-right:10px;
	float:left;
}

#sentOK { 
	float:right;
}

.blink {
	color: #FF3300;
	font-style: italic;
}
.showContact {
}
#analyzewords_div {
	font-size: 12px;
}
#main_panel a {
	/* [disabled]text-decoration: none; */
	}
#main_panel a:hover, #main_panel a:focus {
	background-color: #003391;
	color: #FEFDCC;
}
#changes a {
	background-color: #FEFDCC;
	padding: 2px;
}
#changes a:hover, #changes a:focus {
	background-color: #003391;
	color: #FEFDCC;
}
#dataentry{
	background-color: #FFFFCC;
	width: 470px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 20px;
}
#dataentry p {
	margin-right: 10px;
	margin-left: 10px;
}
